Repository googleapis/python-translate, pull requests merged in 2021-03, with the labels that each got.

#120 chore: renamed output dir to prevent bucket concurrency error
  samples/snippets/beta_snippets_test.py
  samples/snippets/translate_v3_batch_translate_text_with_glossary_and_model_test.py
  samples/snippets/translate_v3_batch_translate_text_with_glossary_test.py
  samples/snippets/translate_v3_batch_translate_text_with_model_test.py
Labels: api: translate, automerge, cla: yes

#121 feat(v3beta1): add online and batch document translation
  .coveragerc
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .kokoro/samples/python3.6/periodic-head.cfg
  .kokoro/samples/python3.7/periodic-head.cfg
  .kokoro/samples/python3.8/periodic-head.cfg
  .kokoro/test-samples-against-head.sh
  .kokoro/test-samples-impl.sh
  .kokoro/test-samples.sh
  .pre-commit-config.yaml
  .trampolinerc
  CONTRIBUTING.rst
  MANIFEST.in
  UPGRADING.md
  docs/translate_v3/services.rst
  docs/translate_v3/translation_service.rst
  docs/translate_v3/types.rst
  docs/translate_v3beta1/services.rst
  docs/translate_v3beta1/translation_service.rst
  docs/translate_v3beta1/types.rst
  google/cloud/translate_v3/services/translation_service/async_client.py
  google/cloud/translate_v3/services/translation_service/client.py
  google/cloud/translate_v3/services/translation_service/pagers.py
  google/cloud/translate_v3/services/translation_service/transports/base.py
  google/cloud/translate_v3/services/translation_service/transports/grpc.py
  google/cloud/translate_v3/services/translation_service/transports/grpc_asyncio.py
  google/cloud/translate_v3/types/__init__.py
  google/cloud/translate_v3/types/translation_service.py
  google/cloud/translate_v3beta1/__init__.py
  google/cloud/translate_v3beta1/services/translation_service/async_client.py
  google/cloud/translate_v3beta1/services/translation_service/client.py
  google/cloud/translate_v3beta1/services/translation_service/pagers.py
  google/cloud/translate_v3beta1/services/translation_service/transports/base.py
  google/cloud/translate_v3beta1/services/translation_service/transports/grpc.py
  google/cloud/translate_v3beta1/services/translation_service/transports/grpc_asyncio.py
  google/cloud/translate_v3beta1/types/__init__.py
  google/cloud/translate_v3beta1/types/translation_service.py
  noxfile.py
  renovate.json
  samples/snippets/hybrid_glossaries/noxfile.py
  samples/snippets/noxfile.py
  scripts/fixup_translate_v3beta1_keywords.py
  setup.py
  synth.metadata
  synth.py
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
  tests/unit/gapic/translate_v3/__init__.py
  tests/unit/gapic/translate_v3/test_translation_service.py
  tests/unit/gapic/translate_v3beta1/__init__.py
  tests/unit/gapic/translate_v3beta1/test_translation_service.py
Labels: api: translate, automerge, cla: yes, context: partial

#123 chore: start tracking obsolete files
  synth.metadata
Labels: api: translate, cla: yes, context: full
